{{ define "inicio" }}
{{ template "head"}}

<div class="container-xl">
    <tr>
        <H3>Create - Read - Update - Delete</H3>  
    </tr>   
</div>

<div class="container-images"> 
    <td><a href="#"><img src="https://guvenseckin.com/img/golang.png" class="avatar" alt="Avatar"></a></td>
    <td><a href="#"><img src="https://png.pngitem.com/pimgs/s/424-4242541_gopher-with-glasses-png-download-golang-gopher-transparent.png" class="avatar" alt="Avatar"></a></td>
    <td><a href="#"><img src="http://static1.squarespace.com/static/5e10bdc20efb8f0d169f85f9/t/5e5aa4d2b728573d1b6c46cb/1582998741211/198-1980581_golang-gopher-png.png?format=1500w" class="avatar" alt="Avatar"></a></td>
    <td><a href="#"><img src="https://i.pinimg.com/280x280_RS/5b/f6/e0/5bf6e06cb6d7bb66fc5d867c8d5b31e0.jpg" class="avatar" alt="Go-Read"></a></td>
</div>

<div class="form-row text-center">
    <div class="col-12">
        <a name="" id="" class="btn btn-primary" href="/tasks" role="button">View Data Register</a>
    </div>
</div>


{{ template "foot"}}
{{end}}